<a href="https://colab.research.google.com/github/dnrb/word2vec_char_level/blob/master/first_file.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import tensorflow as tf
import pandas as pd
from google.colab import files
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

**Verify the GPU status**

In [0]:
tf.test.gpu_device_name()

'/device:GPU:0'

**Verify the CPU status**

In [0]:
!cat /proc/cpuinfo

**Verify the Memory status**

In [0]:
!cat /proc/meminfo

In [0]:
url1 = "https://raw.githubusercontent.com/dnrb/word2vec_char_level/master/tasa_1.txt?token=Am6SPuWAzO2mZg8HOZCzOaYh4sUoaRJwks5cVgdewA%3D%3D"
df1 = pd.read_fwf(url1)
df1.head(5)

                      who were the first americans ?
0  many , many years ago , perhaps 35,000 years a...
1  at that time , the earth was in the grip of th...
2  there were few people anywhere in the world , ...
3                people did live in asia , however .
4     and some of them wandered into north america .

In [0]:
url2 = "https://raw.githubusercontent.com/dnrb/word2vec_char_level/master/tasa_2.txt?token=Am6SPmIcGRuth6iFjoTSlUt0QXEm2oCuks5cVgoswA%3D%3D"
df2 = pd.read_fwf(url2)
df2.head(5)
df2.

,"he and kelly changed hiding places often , but the bike was one of the best .",Unnamed: 1,Unnamed: 2
0,they took off the handle grip on the right side .,NaN,NaN
1,then they rolled up the message and shoved it ...,NaN,NaN
2,the trick was not to push the paper too far in .,NaN,NaN
3,they had lost a few messages before they disco...,NaN,NaN
4,"when the grip was put back , nobody could tell...",NaN,NaN

In [0]:
url3 = "https://raw.githubusercontent.com/dnrb/word2vec_char_level/master/tasa_3.txt?token=Am6SPrzjsXFpGdH86NVF1iwsDupypuMNks5cVgqOwA%3D%3D"
df3 = pd.read_fwf(url3)
df3.head(5)

,many things happened to the quimbys when mrs. quimby left for the hospital .,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,"draw pictures of the events , starting with wh...",NaN,NaN,NaN
1,did you like `` ramona forever ? '',NaN,NaN,NaN
2,tell what you liked or did n't like about the ...,NaN,NaN,NaN
3,be sure to tell why you feel as you do .,NaN,NaN,NaN
4,pretend you are on a tv news show to tell peop...,NaN,NaN,NaN

In [0]:
!pwd

/content

In [0]:
!ls -la

total 16
drwxr-xr-x 1 root root 4096 Jan 29 17:09 .
drwxr-xr-x 1 root root 4096 Jan 31 20:03 ..
drwxr-xr-x 1 root root 4096 Jan 28 17:05 .config
drwxr-xr-x 1 root root 4096 Jan 29 17:09 sample_data

In [7]:
!ls -l gdrive/My\ Drive

total 102471
drwx------ 2 root root     4096 Jan 26 19:57 'Colab Notebooks'
-rw------- 1 root root    22278 Jan 31 20:10  first_file.ipynb
-rw------- 1 root root        0 Jan 30 16:48  tasa_1.txt
-rw------- 1 root root 20999217 Jan 30 16:20  tasa_2.txt
-rw------- 1 root root 21195910 Jan 30 16:21  tasa_3.txt
-rw------- 1 root root 62707597 Jan 30 16:53  tasa.txt

In [8]:
filename = '/content/gdrive/My Drive/tasa.txt'
filehandle = open(filename)
lines = filehandle.readlines()

len(lines)

752137